.CreatorWrapper {
  display: flex;
  justify-content: center;
  /* background: red; */
}
.CreatorContainer {
  display: flex;
  width: 30%;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(227, 227, 237, 0.824);
  /* background: yellow; */
  padding: 1rem;
}
.NftField {
  margin-top: 0.5rem;
  padding: 1rem;
}
.NftImage {
  width: 200px;
  padding: 2px;
  border-radius: 0.4rem;
  margin: auto;
  position: relative;
  display: block;
}
